.manage-spots-title-wrapper {
  margin-left: 50px;
}

.manage-spots-title {
  margin-bottom: 5px;
}

.manage-spots-create-button {
  background-color: red;
  color: white;
  width: 12.5%;
}

.price-update-delete-wrapper {
  display: flex;
  justify-content: space-between;
}

.update-delete-wrapper {
  display: flex;
  column-gap: 10px;
}

.manage-spots-delete-button {
  position: absolute;
  height: 10px;
}

.current-user-landing-page-conatiner {
  margin: auto;
  position: relative;
  width: 70%
}

.details-wrapper {
  padding-bottom: 2%;
  border-bottom: 2px black solid;
}
.city-state-links,
.price-value {
  width: 145px;
  text-decoration: none;
  color: black;
}
