.current-user-landing-page-container {
  max-width: 1580px;
  margin: auto;
}

.manage-spots-title-wrapper {
  width: 100%;
  margin-left: 100px;
}

.manage-spots-title {
  margin-bottom: 5px;
}

.manage-spots-create-button {
  background-color: red;
  color: white;
  width: 12.5%;
}

.price-update-delete-wrapper {
  display: flex;
  justify-content: space-between;
}

.update-delete-wrapper {
  display: flex;
  column-gap: 10px;
}

.manage-spots-delete-button {
  position: absolute;
  height: 10px;
}

.details-wrapper {
  padding-bottom: 2%;
  border-bottom: 2px black solid;
}

.city-state-links,
.price-value {
  width: 145px;
  text-decoration: none;
  color: black;
}

.city-state {
  max-width: 75%;
  text-overflow: ellipsis;
  overflow: hidden
}

.manage-spot-update-button {
  color: white;
  background-color: red;
}
