.landing-page-container {
  margin-left: 10%;
  margin-right: 10%;
  width: fit-content;
  position: relative;
  display: flex;
  flex-direction: column;
}

.all-spots-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-top: 4%;
  row-gap: 30px;
  column-gap: 100px;
  flex-basis: 25%;
  padding-left: 50px;
}

.spot-image {
  width: 270px;
  height: 250px
}

.spot-card-wrapper {
  text-decoration: none;
  color: black
}

.city-state-rating {
  display: flex;
  justify-content: space-between;
}

.spot-card {
  border: 1px black solid;
  padding: 1px;
}
