.landing-page-container {
  width: fit-content;
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: 1580px;
}

.all-spots-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 4%;
  row-gap: 100px;
  column-gap: 100px;
  flex-basis: 25%;
}

.spot-image {
  width: 270px;
  height: 250px
}

.spot-card-wrapper {
  text-decoration: none;
  color: black;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 270px;
}

.city-state-rating {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
}

.spot-card {
  width: 270px;
}
