.spot-details-container {
  margin-left: 18%;
  margin-right: 18%;
  margin-top: 1%;
  width: 1200px
}

.spot-name {
  font-size: x-large;
  font-weight: bolder;
  padding-bottom: 12px;
}

.city-state-country {
  padding-bottom: 1vw;
}

#half-image {
  height: 412px;
  width: 600px;
  /* border: 1px black solid; */
  margin: 1px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.quarter-images {
  display: flex;
  width: 50%;
  margin-left: 4px;
}

.quarter-image {
  width: 300px;
  height: 203px;
  /* border: 1px solid black */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

}

.detail-images-top-half {
  display: flex;
  flex-direction: row;
}

.detail-images-bottom-half {
  display: flex;
}

.description-price-wrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.description-wrapper {
  width: 60%
}

.description-title {
  font-size: larger;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
}

.price-button-wrapper {
  width: 40%;
  border: 2px black solid;
  padding: 20px;
  margin-top: 15px;
  border-radius: 10px;
  max-width: 30%;
}

.price-text-price {
  font-size: larger;
}

.price-reviews-text {
  display: flex;
  justify-content: space-between;
}

.reviews-text {
  align-self: end;
  margin-bottom: 15px;
}

.reserve-button {
  width: 100%;
}

.button {
  width: 100%;
  background-color: red;
  color: white;
  height: 40px;
}

.price-text-price {
  font-weight: 600;
}

.details-images-wrapper {
  /* border: 1px solid black; */
  display: flex;
  justify-content: center;
}

#top-right {
  margin-left: 4px;
}

#bottom-right {
  margin-left: 4px;
}
