.spot-details-container {
  max-width: 1250px;
  margin: auto;
  margin-top: 4%
}

.details-wrapper {
  width: 100%;
}

.details-images-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  box-sizing: border-box;
  height: 412px;
}

.reviews-wrapper {
  width: 100%
}

.half-image {
  width: 50%;
  height: 100%;
  margin-right: 8px
}

#half-image {
  height: 412px;
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.quarter-images {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100%;
}

.details-images-top-half {
  height: 50%;
  margin-bottom: 4px;
}
.details-images-bottom-half {
  height: 50%;
}

.quarter-image {
  width: 49%;
  height: 98%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

#top-right,
#bottom-right {
  margin-left: 8px;
}

.spot-name {
  font-size: x-large;
  font-weight: bolder;
  padding-bottom: 12px;
}

.city-state-country {
  padding-bottom: 1vw;
}




.details-images-top-half {
  display: flex;
}

.details-images-bottom-half {
  display: flex;
}

.description-price-wrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.description-wrapper {
  width: 60%;
}

.description-title {
  font-size: larger;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
}

.price-button-wrapper {
  width: 40%;
  border: 2px black solid;
  padding: 20px;
  margin-top: 15px;
  border-radius: 10px;
  max-width: 30%;
  margin-right: 2px;
}

.price-text-price {
  font-size: larger;
}

.price-reviews-text {
  display: flex;
  justify-content: space-between;
}

.reviews-text {
  align-self: end;
  margin-bottom: 15px;
}

.reserve-button {
  width: 100%;
}

.button {
  width: 100%;
  background-color: red;
  color: white;
  height: 40px;
}

.price-text-price {
  font-weight: 600;
}
