.hidden {
  display: none;
}

.navbar-wrapper {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px rgb(190, 42, 42) solid;
  padding-bottom: 8px;
  padding-top: 8px;
  width: 100%;
}

.logo-button {
  width: 50%;
}

.profile-button-icons {
  background-color: white;
  border: black 1px solid;
  border-radius: 255px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between
}

.button-icon-group {
  padding: 10px;
  display: flex;
  column-gap: 3px;
}

.profile-button {
  display: flex;
  align-items: center;
}

.profile-dropdown {
  list-style: none;
  position: absolute;
  top: 65px;
  right: 50px;
  z-index: 9999;
  background-color: gray;
  border: 1px black solid;
  list-style-type: none;
  margin: auto;
  padding: 10px;
}

.create-spot-button {
  margin-right: 15px;
}
